<div id="browser" class="twenty-one columns">

  <div id="cover_art_gallery">
    <%= @albums.each do |album| %>
      <div class="cover">
        <a href="#">
          <img src="<%= album.cover_art_url %>.jpg" class="" width="250" height="250" />
        </a>
      </div>
    <% end %>

  </div>

  <%= render partial: 'song_list' %>

</div>
