<div id="browser" class="twenty-one columns">

  <div id="cover_art_gallery">
    <% @albums.each do |album| %>
      <div class="cover">
        <a href="#albums/<%= album.id %>">
          <% if album.has_cover_art? %>
            <%= image_tag cover_art_path(album.id), { width: "250", height: "250" } %>
          <% else %>
            <div class="no_cover">
            </div>
          <% end %>
        </a>
      </div>
    <% end %>

  </div>

  <div id="song_list">
    <%= render partial: 'song_list' %>
  </div>

</div>
