<div id="sidebar" class="three columns">
  <ul>
    
    <li>
      <i class="fa fa-book"></i>
      <a href="#library">Library</a>
    </li>

    <li>
      <i class="fa fa-list-ol"></i>
      <a href="#playback_queue">Playback Queue</a>
    </li>

  </ul>

  <h3>Smart Playlists</h3>

  <ul>
    <li>
      <i class="fa fa-list-ul"></i>
      >= 3 stars
    </li>
    <li>
      <i class="fa fa-list-ul"></i>
      5 stars
    </li>
    <li>
      <i class="fa fa-list-ul"></i>
      Recently added
    </li>
  </ul>

  <h3>Playlists</h3>
  <ul>
    <li>
      <i class="fa fa-list"></i>
      Piano Greats
    </li>
    <li>
      <i class="fa fa-list"></i>
      Workout
    </li>
    <li>
      <i class="fa fa-list"></i>
      Relaxing
    </li>
  </ul>
</div>
