<div id="song_list">

  <table>
    <thead>
      <th>Disc #</th>
      <th>Track #</th>
      <th>Title</th>
      <th>Artist</th>
    </thead>

    <tbody>

      <tr>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
      </tr>

      <tr>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
      </tr>

      <tr>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
      </tr>

      <tr>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
        <td>Blah</td>
      </tr>

    </tbody>
  </table>

</div>
