<%= render partial: 'hangbar' %>

<main ui-view="main-content-area">

  <div id="outer_container" class="row">
    <%= render partial: 'sidebar' %>
    <div ui-view="sidebar"></div>

    <div ui-view="content-by-sidebar">
    </div>
  </div>

</main>
