/.bundle
/.powrc
/.rvmrc
/.rbenv-vars
/db/*.sqlite3
/log/*.log
/bundle
/tmp
*.swp
*.swo
*.DS_Store
/config/database.yml
/config/secrets.yml
/config/app_config.yml
rdoc
db/schema.rb
public/assets
stdout
.sass-cache
.envrc

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

/public/fakecovers/
/spec/data/cover_art_cache
/spec/data/test_songs/*
/.idea

/coverage/*
