<form>
  <fieldset class="form-group">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button"
              class="btn btn-secondary"
              ui-sref="home">
        Go back home...
      </button>
      <button type="button"
              class="btn btn-secondary"
              ui-sref="home.showAlbumInBrowser({ showAlbum: album.id })">
        Show album in browser
      </button>
    </div>
  </fieldset>
</form>


<p class="lead" id="album_edit">
  {{ album.title }}
</p>

<form>
  <fieldset class="form-group">
    <h6>Replace album art</h6>
  </fieldset>

  <fieldset class="form-group">
    <input type="file"
           ngf-select
           ng-model="picFile"
           name="file"
           accept="image/*"
           ngf-max-size="2MB"
           id="file-upload-box"
           class="form-control"
           required>
  </fieldset>

  <fieldset class="form-group">
    <button type="button"
            class="btn btn-secondary"
            ng-click="uploadPic(picFile)">Submit</button>
  </fieldset>

  <fieldset class="form-group">
    <span class="progress" ng-show="picFile.progress >= 0">
      <div style="width:{{ picFile.progress }}%" ng-bind="picFile.progress + '%'">
      </div>
    </span>

    <span ng-show="picFile.result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
  </fieldset>
</form>


<form>
</form>
