<h2>Settings</h2>

<fieldset class="form-group">
  <button type="button" class="btn btn-primary" ng-click="rescanLibrary(false)">Rescan library: quick mode</button>
</fieldset>

<fieldset class="form-group">
  <button type="button" class="btn btn-secondary" ng-click="rescanLibrary(true)">Rescan library: deep scan mode</button>
</fieldset>

<!--<fieldset class="form-group">-->
  <!--<button type="button" class="btn btn-secondary" ng-click="restartPripheaBackend()">-->
    <!--Restart priphea backend-->
  <!--</button>-->
<!--</fieldset>-->

<fieldset class="form-group">
  <button type="button" class="btn btn-secondary" ng-click="updateCoverArtCache()">
    Update cover art cache
  </button>
</fieldset>

<!--<fieldset>-->
  <!--<%= form_tag(destroy_and_rescan_path, method: :post) do %>-->
  <!--<%= submit_tag "Destroy and rescan library", data: { confirm: "THIS WILL DESTROY ALL YOUR CUSTOM DATA!" } %>-->
  <!--<% end %>-->
<!--</fieldset>-->

<!--<fieldset>-->
  <!--<%= form_tag(update_cover_art_cache_path, method: :post) do %>-->
  <!--<%= submit_tag "Update cover art cache", data: { confirm: "You want to reprocess your artworks?" } %>-->
  <!--<% end %>-->
<!--</fieldset>-->

<!--<fieldset>-->
  <!--<%= form_tag(check_file_existence_path, method: :post) do %>-->
  <!--<p>-->
    <!--This will mark songs whose files are not found as "missing", and found files as "active".-->
  <!--</p>-->
  <!--<%= submit_tag "Check for song file existences (#{Song.count} songs to scan)" %>-->
  <!--<% end %>-->
<!--</fieldset>-->

<!--<fieldset>-->
  <!--<%= form_tag(delete_missing_unrated_files_path, method: :post) do %>-->
  <!--<p>-->
    <!--This will delete all files who are "missing" and also have nil rating.-->
  <!--</p>-->
  <!--<%= submit_tag "Delete all missing, unrated songs (#{Song.missing.unrated.count} songs to delete)" %>-->
  <!--<% end %>-->
<!--</fieldset>-->
