<div id="sidebar" class="three columns">
  <ul>

    <li>
      <i class="fa fa-book"></i>
      <a href="#library">Library</a>
    </li>

    <li>
      <i class="fa fa-list-ol"></i>
      <a href="#playback_queue">Playback Queue</a>
    </li>

  </ul>

  <h3>Smart Playlists</h3>

  <div id="smart_playlist_list">
    <ul>
      <% SmartPlaylist.all.each do |playlist| %>
      <li>
        <i class="fa fa-list-ul"></i>
        <%= link_to playlist.name, "#smart_playlists/#{playlist.id}" %>
        (<%= link_to "Edit", edit_smart_playlist_path(playlist) %>)
      </li>

      <% end %>
    </ul>
  </div>

  <%= link_to "Create new...", new_smart_playlist_path %>
</div>
