@font-face {
  font-family: 'Lato-Regular';
  src: url('/fonts/Lato-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/Lato-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('/fonts/Lato-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}

html, body {
  font-family: $font-family;
  font-size: 16px;
}

td {
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: 'Lato-Bold';
}
