$hangbar-height: 100px;
$upper-padding: 15px;
$hangbar-height-with-padding: $hangbar-height + $upper-padding;

$color-sidebar-border: #c7c7c7;
$color-sidebar-background: #fafafa;

$color-now-playing-background: white;

$cover-art-thumbnail-size: 200px;
