$hangbar-height: 80px;


// Colors //
// $color-background: #f9f9f9;
// $color-hangbar-background: #f9f9f9;
$color-background: white;
$color-hangbar-background: white;
$color-browser-background: white;

$color-major-theme: #cfffff;
$color-major-theme-lightened: #E2EAD3;
