
@import "vendor/skeleton";

@import "_variables";
@import "_typography";
@import "base";
@import "hangbar";
@import "sidebar";
@import "browser";
@import "song_list";

body {
  overflow: hidden; // hide main scrollbar
}

main {
}

// contains the sidebar, browser, and songlist
div#outer_container {
}

div#sidebar {
  height: 100%;
  background-color: white;
}


div#song_list {
  height: 150px;
  background-color: white;
  overflow: scroll;
}
