@import "_variables";
@import "hangbar";
@import "sidebar";
@import "browser";
@import "song_list";

html, body {
  font-size: 0.95rem;
}
main {
  padding-top: $hangbar-height;
}

#content-by-sidebar {
  min-height: calc(100vh - #{$hangbar-height});
}

.fa-star-o {
  color: #8c8c8c;
}
