#hangbar {
  height: $hangbar-height;
  overflow: hidden;
}

//
// Play/pause buttons
//

#hangbar #song_controls .control {
  height: $hangbar-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//
// Volume control
//

#hangbar #volume {
  .input-container {
    width: 100%;
  }

  height: $hangbar-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
